<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
    <div id="app">
        <h1>任务列表</h1>
        <input type="text" v-model="task" placeholder="添加新任务.."> <button @click="addtolist">添加</button>

        <template v-for="task in undone">
            <template v-if="!task.done">
                <p>{{task.name}} <input type="checkbox" v-model="task.done">我做完了</p>
            </template>
            <template v-else>
                <p style="text-decoration: line-through">{{task.name}} <input type="checkbox" v-model="task.done">已做完</p>
            </template>
        </template>
        <hr>


    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                task: '',
                undone: [],
            },
            methods: {
                addtolist(){
                    if(this.task!=''){
                        this.undone.push({name:this.task, done: false});
                        this.task = '';
                    }
                }
            }
        })
    </script>
</body>
</html>