<html>
    <head>
        <title>Todo Demo2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <style>
            *{
                font-size: 20px;
            }
            .container{
                margin-top: 20px;
            }
            ul li{
                list-style: none;
                }
            #app{
                margin: 30px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">添加任务</div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <input type="text" placeholder="添加你的计划任务吧!" class="form-control" v-model="task"/>
                                    <button class="btn btn-default" @click="addtodolist">添加</button>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-warning">
                            <div class="panel-heading">未完成</div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tr>
                                        <th>任务名称</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                    <template v-for="t in tasklist" v-if="!t.status">
                                        <tr>
                                            <td>{{t.name}}</td>
                                            <td>{{t.addtime}}</td>
                                            <td><input type="checkbox" v-model="t.status"></td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                          </div>
                          
                          <div class="panel panel-success">
                            <div class="panel-heading">
                              <h3 class="panel-title">已完成</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tr>
                                        <th>任务名称</th>
                                        <th>添加时间</th>
                                        <th>完成时间</th>
                                        <th>操作</th>
                                    </tr>
                                    <template v-for="t in tasklist" v-if="t.status">
                                        <tr style="text-decoration: line-through">
                                            <td>{{t.name}}</td>
                                            <td>{{t.addtime}}</td>
                                            <td>{{t.donetime}}</td>
                                            <td><input type="checkbox" v-model="t.status"></td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>



        <script src="js/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    task: '',
                    tasklist: [
                        {name: '周三写完主页内容', status: true, addtime:'2019-07-12', donetime:'2019-07-12'},
                        {name: '周四修改服务器端bug', status: true, addtime:'2019-07-12', donetime:'2019-07-12'},
                        {name: '开发吃鸡小游戏', status: false, addtime:'2019-07-12', donetime:'2019-07-12'},
                        {name: '开发OA管理系统', status: false, addtime:'2019-07-12', donetime:'2019-07-12'},
                    ]
                },
                methods:{
                    addtodolist(){
                        if(this.task!=''){
                            this.tasklist.push({name:this.task, status: false, addtime: this.getDatetime()});
                            this.task = '';
                        }
                    },
                    getDatetime(){
                        var nowDate = new Date();
                        var year = nowDate.getFullYear();
                        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
                        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
                        var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
                        var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
                        var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
                        return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
                    }


                }
            })
        </script>
    </body>
</html>